*.class
*.exe
.vscode
.exe
/Coding Platforms/Hacker Earth/collegeChallenges
/Coding Platforms/Hacker Earth/Hackerearth-problems-master
/Coding Platforms/Hacker Earth/hackerEarthChallenges
/Coding Platforms/Hacker Earth/practiceProblems